In [101]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [167]:
usgdp=pd.read_excel('USA GDP Change.xls')
usgdp=usgdp.set_index('Year')
usgdp.tail()

      US GDP Change
Year
2011            1.6
2012            2.2
2013            1.7
2014            2.4
2015            2.6

In [177]:
BoE=pd.read_excel('BoE Data.xlsx')
BoE=BoE.set_index('Year')
BoE.head()

      Bank Rates       GDP
Year
1831         4.0  4.629630
1832         4.0 -1.548673
1833         4.0  1.573034
1834         4.0  4.424779
1835         4.0  5.296610

In [193]:
Maindata=pd.read_excel('UK US Inflation & Unemployment 1964 - 2009.xls')
Maindata=Maindata.rename(columns={'w':'Year','uki':'UK Inflation', 'usi':'US Inflation',
                         'usu':'US Unemployment','uku':'UK Unemployment'})
Maindata=Maindata.drop({'gi', 'gu'},1)
Maindata=Maindata.set_index('Year')
Maindata.head()

      UK Inflation  US Inflation  US Unemployment  UK Unemployment
Year
1871           1.7          -6.4         4.383738         1.518761
1872           4.5           0.0         3.886836         0.890913
1873           3.1          -2.0         3.975477         1.020809
1874          -3.4          -4.9         4.406372         1.554621
1875          -2.2          -3.6         4.871904         2.081238

In [170]:
FedRates=pd.read_excel('Federal Reserve Funds 1955-2015.xls')
FedRates.rename(columns={'observation_date':'Year', 'FEDFUNDS':'Base Rate'}).tail()
FedRates['Year']=DataFrame(np.arange(1955,2016,1).reshape(61,1), index=FedRates.index)
FedRates= FedRates.drop('observation_date',1)
FedRates=FedRates.set_index('Year')
FedRates.head()

      FEDFUNDS
Year
1955      1.79
1956      2.73
1957      3.11
1958      1.57
1959      3.31

In [180]:
Overall=pd.concat([BoE, FedRates, Maindata, usgdp], axis=1)

In [182]:
Overall.head()

#figure way to remove ones with NA

,Bank Rates,GDP,FEDFUNDS,UK Inflation,US Inflation,US Unemployment,UK Unemployment,US GDP Change
Year,,,,,,,,
1831,4.0,4.629630,NaN,NaN,NaN,NaN,NaN,NaN
1832,4.0,-1.548673,NaN,NaN,NaN,NaN,NaN,NaN
1833,4.0,1.573034,NaN,NaN,NaN,NaN,NaN,NaN
1834,4.0,4.424779,NaN,NaN,NaN,NaN,NaN,NaN
1835,4.0,5.296610,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
OverallUK=Overall.drop(2012)
OverallUK.tail()

,Bank Rates,GDP,FEDFUNDS,UK Inflation,US Inflation,US Unemployment,UK Unemployment,US GDP Change
Year,,,,,,,,
2010,NaN,NaN,0.18,NaN,NaN,NaN,NaN,2.5
2011,NaN,NaN,0.10,NaN,NaN,NaN,NaN,1.6
2013,NaN,NaN,0.11,NaN,NaN,NaN,NaN,1.7
2014,NaN,NaN,0.09,NaN,NaN,NaN,NaN,2.4
2015,NaN,NaN,0.13,NaN,NaN,NaN,NaN,2.6

In [192]:
OverallUK=Overall.drop(['FEDFUNDS','US Inflation','US Unemployment', 'US GDP Change'], 1)
OverallUK=OverallUK.dropna(axis=0, how='any')
OverallUK.tail()

      Bank Rates       GDP  UK Inflation  UK Unemployment
Year
2005         4.5  2.343422           2.0              4.8
2006         5.0  2.935894           2.3              5.4
2007         5.5  2.722666           2.3              5.3
2008         2.0 -0.141463           3.6              5.7
2009         0.5 -4.957814           1.4              7.4

In [195]:
OverallUS=Overall.drop(['Bank Rates','GDP','UK Unemployment', 'UK Inflation'], 1)
OverallUS=OverallUS.dropna(axis=0, how='any')
OverallUS.head()

      FEDFUNDS  US Inflation  US Unemployment  US GDP Change
Year
1955      1.79           0.0         4.366667            7.1
1956      2.73           1.5         4.125000            2.1
1957      3.11           3.3         4.300000            2.1
1958      1.57           2.8         6.841667           -0.7
1959      3.31           0.7         5.450000            6.9